<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"mybatis-3-mapper.dtd" >

<mapper namespace="adminMapper">

	<resultMap type="Member" id="memberResultSet">
		<result column="ID" property="id"/>
		<result column="NAME" property="name"/>
		<result column="PWD" property="pwd"/>
		<result column="BIRTH" property="birth"/>
		<result column="PHONE" property="phone"/>
		<result column="IMAGE" property="image"/>
		<result column="EMAIL" property="email"/>
		<result column="POST" property="post"/>
		<result column="ADDRESS" property="address"/>
		<result column="DETAIL_ADDRESS" property="detailAddress"/>
		<result column="SUBJECT" property="subject"/>
		<result column="ENORLL_DATE" property="enrollDate"/>
		<result column="START_DATE" property="startDate"/>
		<result column="END_DATE" property="endDate"/>
		<result column="STAUTS" property="status"/>
		<result column="SORT" property="sort"/>
		<result column="EMPLOYEE_DATE" property="employeeDate"/>
	</resultMap>

	
	<select id="selectListCount" resultType="_int">
	select
		count(*)
	from member
	where
		status = 'Y'
	and
		sort = 2
	</select>

	<select id="selectList" resultMap="memberResultSet">
		select
			id
		  , name
		  , phone
		  , subject_name as "subject"
	  	from 
	  		member m
  		left join subject s on(m.subject = s.subject_no)
  		where
  			m.status = 'Y'
  		 and
  		 	sort = 2
		order by subject		
	</select>
	
	<select id="selectNonSubjectList" resultMap="memberResultSet">
		select
			id
		  , name
	  	from
	  		member
  		where subject is null
  			and sort = 2
  			and status = 'Y'
	</select>
	
	<update id="checkDeleteInstuctor">
		update
			member
		set
			status='N'
		where id = #{id}
		  and sort = 2
	</update>
	
	<select id="selectTeacher" resultMap="memberResultSet">
		select
			id
		  , name
		  , phone
		  , image
		  , to_char(employee_date, ('YYYY-MM-DD')) as "employee_date"
		  , email
		  , subject_name as "subject"
		  , address || detail_address as "ADDRESS"
	  	from 
	  		member m
  		join subject on (subject = subject_no)
  		where
  			m.status='Y' and sort = 2 and id = #{ id }
	</select>

	<select id="selectStudentListCount" resultType="_int">
		select
			count(*)
		from member
		where
			status = 'Y'
		and
			sort = 3
	</select>
	
	<select id="selectStudentList">
		select
			id
		  , subject_name as "subject"
		  , a.count / 
	</select>
</mapper>