<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>YIST에 방문해주셔서 감사합니다.</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body style="margin: 0; padding: 0;">
    <table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse: collapse;">
        <tr>
            <td align="center" style="padding: 40px 0 30px 0;">
                <img src="https://file.notion.so/f/s/7610af1b-6726-46fe-9215-a4473493a00b/YIST_%EA%B0%80%EB%A1%9C%EB%A1%9C%EA%B3%A0_%EA%B5%B5%EC%9D%8C.png?id=1ca55a43-6cec-44a3-8a84-d5764cec6fe9&table=block&spaceId=2c34fcf9-feb3-465e-8056-d029fc770287&expirationTimestamp=1682652422517&signature=pUzdVnaq2yitIvmn3izmZUC5jO8eXNPm18ihD6ia-b4&downloadName=YIST+%EA%B0%80%EB%A1%9C%EB%A1%9C%EA%B3%A0_%EA%B5%B5%EC%9D%8C.png" style="display: block;" width="300" height="230">
            </td>
        </tr>
        <tr>
            <td bgcolor="#99da87" style="padding: 40px 0 30px 0; text-align: center; font-size: 16px; line-height: 20px; font-family: 'Noto Sans KR', sans-serif;">
                <table  border="0" cellpadding="0" cellspacing="0" width="100%">
                    <tr style="color:#ffffff">
                        <th>인증코드</th>
                        <th>000000</th>
                    </tr>
                </table>
            </td>
        </tr>
        <tr style="height: 70px; padding: 40px 30px 40px 30px;">
            <td style="text-align: center; font-family: 'Noto Sans KR', sans-serif; font-size: 16px; line-height: 20px;">
                <b>YJ Institute of System Technology</b>
            </td>
        </tr>        
    </table>
</body>
</html>
